doctype html
head
  meta(charset='utf-8')
  meta(content='width=device-width, initial-scale=1.0' name='viewport')
  title Legalize
  meta(content='' name='description')
  meta(content='' name='keywords')
  // Favicons
  link(href='../assets/img/kanafi.png' rel='icon')
  link(href='../assets/img/apple-touch-icon.png' rel='apple-touch-icon')
  // Google Fonts
  link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i' rel='stylesheet')
  link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.8.1/css/all.css' integrity='sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf' crossorigin='anonymous')
  // Vendor CSS Files
  link(href='/assets/vendor/aos/aos.css' rel='stylesheet')
  link(href='/assets/vendor/bootstrap/css/bootstrap.min.css' rel='stylesheet')
  link(href='/assets/vendor/bootstrap-icons/bootstrap-icons.css' rel='stylesheet')
  link(href='/assets/vendor/boxicons/css/boxicons.min.css' rel='stylesheet')
  link(href='/assets/vendor/glightbox/css/glightbox.min.css' rel='stylesheet')
  link(href='/assets/vendor/remixicon/remixicon.css' rel='stylesheet')
  link(href='/assets/vendor/swiper/swiper-bundle.min.css' rel='stylesheet')

  link(rel='stylesheet' href='https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.css')


  // Template Main CSS File
  link(href='/assets/css/style.css' rel='stylesheet')
  link(href='/assets/css/user.css' rel='stylesheet')

  // ======= Header =======
  include parts/header.pug
  // End Header

  // ======= Main =======
.container
  form#card-form.card-form.row(action='http://127.0.0.1:3000/custom-card' method='POST' enctype="multipart/form-data")
    .mb-3.col-12.col-sm-6.col-lg-4
      label.form-label სახელი და გვარი
      input.form-control(type='text' id="nameInput" name="name" )
    .mb-3.col-12.col-sm-6.col-lg-4
      label.form-label პირადი ნომერი
      input.form-control(type='text' id="idNumInput" name="id_number" maxlength='11' )
    .mb-3.col-12.col-sm-6.col-lg-4
      label.form-label დაბადების თარიღი
      input.form-control(type='date' id="dateInput" name="birth_date" maxlength='5' )
    .mb-3.col-12.col-sm-6.col-lg-4
      label.form-label მთავარი სტატუსის არჩევა
      select.form-select(name='status' id="statusInput")
        option(value='გროუერი') გროუერი
        option(value='მწეველი') მწეველი
        option(value='მეწარმე') მეწარმე
        option(value='ქომაგი') ქომაგი
        option(value='დამფუძნებელი') დამფუძნებელი
        option(value='CBD') CBD
        option(value='ინვესტორი') ინვესტორი
        option(value='ოქროს_ინვესტორი') ოქროს ინვესტორი


    .mb-3.col-12.col-sm-6.col-lg-4
      label.form-label ბარათის ნომერი
      input.form-control(type='text' id="cardNumInput" name="card_number" )
    .mb-3.col-12.col-sm-6.col-lg-4
      label.form-label ამოწურვის ვადა
      input.form-control(type='date' name="validation" id="validInput" )

    .mb-3.col-12.col-sm-6.col-lg-4
      label.form-label დამატებითი სტატუსების არჩევა
      select.form-select(name='multiplestatuses' id="multipleStatusInput" multiple)
        option(value='გროუერი') გროუერი
        option(value='მწეველი') მწეველი
        option(value='მეწარმე') მეწარმე
        option(value='ქომაგი') ქომაგი
        option(value='დამფუძნებელი') დამფუძნებელი
        option(value='CBD') CBD
        option(value='ინვესტორი') ინვესტორი
        option(value='ოქროს_ინვესტორი') ოქროს ინვესტორი

    .mb-3.col-12.col-sm-6.col-lg-4
      label.form-label.w-100 ფოტოს ატვირთვა
      input.form-control-file(type='file' for='image' id="imageInput" name="image" value='Choose Image' )

    button.btn.btn-success(type='submit') გენერირება


  #cards.cards(class=`card-${engData.class}`)
    //- Card Front Side
    div.card-side.card-front
      img.card-bg-0(src="/assets/img/kanafi.png", alt="cannabis")
      img.card-bg-1(src="/assets/img/card/newbg1.png", alt="cannabis")
      img.card-bg-2(src="/assets/img/card/newbg2.png", alt="cannabis statue")
      header.card-header
        h3#cardFullName= `${data.name} ${data.surname}`
        span#cardStatus= data.status
      main.card-main
        div.bedges#bedges
          - for(let i = 0; i < engData.fullStatusClasses.length; i++)
            img(src=`/assets/img/card/${engData.fullStatusClasses[i]}.png` alt='bedge')
        img#cardImage.profile-img(src=`${image}` alt='user')
      footer.card-footer
         h2 კანაფის მოყვარულთა საზოგადოება

    //- Card Back Side
    div.card-side.card-back
      img.card-bg-0(src="/assets/img/kanafi.png", alt="cannabis")
      img.card-bg-1(src="/assets/img/card/newbg1.png", alt="cannabis")
      img.card-bg-2(src="/assets/img/card/newbg2.png", alt="cannabis statue")
      header.card-header
        h3#cardFullName= `${engData.name} ${engData.surname}`
        span#cardStatus= engData.status
      main.card-main
        span DATE OF BIRTH
        h4#cardDate= data.birth_date

        span PERSONAL NUMBER
        h4#cardIdNum= data.id_number

        span CARD NUMBER
        h4#cardNum= engData.card_number

        span VALID
        h4#cardValid= data.validation

        img.qrcode-img(src=QRValue)
      footer.card-footer
        h2 CANNABIS LOVERS SOCIETY

 
// ======= Footer =======
include parts/footer.pug
// End Footer

#preloader
a.back-to-top.d-flex.align-items-center.justify-content-center(href='#')
  i.bi.bi-arrow-up-short
// Vendor JS Files
script(src='/assets/vendor/aos/aos.js')
script(src='/assets/vendor/bootstrap/js/bootstrap.bundle.min.js')
script(src='/assets/vendor/glightbox/js/glightbox.min.js')
script(src='/assets/vendor/isotope-layout/isotope.pkgd.min.js')
script(src='/assets/vendor/php-email-form/validate.js')
script(src='/assets/vendor/purecounter/purecounter.js')
script(src='/assets/vendor/swiper/swiper-bundle.min.js')

script(src='https://code.jquery.com/jquery-3.6.0.min.js' integrity='sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=' crossorigin='anonymous')
script(src='https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.js')

// Template Main JS File
script(src='/assets/js/main.js')
script(type="module" src='/assets/js/customizeCard.js')