// ======= Head =======
include defaultParts/head.pug
// End Head

// Template CSS Files
link(href='/assets/css/style.css' rel='stylesheet')
link(href='/assets/css/user.css' rel='stylesheet')

// ======= Header =======
include defaultParts/header.pug
// End Header

// ======= Main =======
.container
  .profile-header
    img.user-img(src=`${img}` alt='profile pic')
    .user-text
      h4= name
      span.main-status.cleanWords= status
      each val in other_statuses
        span.cleanWords= val
    a#editBtn.edit-btn(href="/create-card")
      i.fas.fa-user-edit  

  .cards
    div.card-side.card-front
      img.card-bg-0(src="/assets/img/kanafi.png", alt="cannabis")
      img.card-bg-1(src="/assets/img/card/newbg1.png", alt="cannabis")
      img.card-bg-2(src="/assets/img/card/newbg2.png", alt="cannabis statue")
      header.card-header
        h3= name
        span.cleanWords= status
      main.card-main
        div.badges
        img.profile-img(src=`${img}` alt='user')
      footer.card-footer
         h2 კანაფის მოყვარულთა საზოგადოება

    //- Card Back Side
    div.card-side.card-back
      img.card-bg-0(src="/assets/img/kanafi.png", alt="cannabis")
      img.card-bg-1(src="/assets/img/card/newbg1.png", alt="cannabis")
      img.card-bg-2(src="/assets/img/card/newbg2.png", alt="cannabis statue")
      header.card-header
        h3.convertWords= name
        span.enStatuses= status
      main.card-main
        span DATE OF BIRTH
        h4= birth_date

        span PERSONAL NUMBER
        h4= id_number

        span CARD NUMBER
        h4= card_number

        span DATE OF REGISTRATION
        h4= registration

        img.qrcode-img(src=generatedQR)
      footer.card-footer
        h2 CANNABIS LOVERS SOCIETY
 
// ======= Footer =======
include defaultParts/footer.pug
// End Footer

// ======= Scripts =======
include defaultParts/scripts.pug
// End Scripts

script(type="module"). 
  //- Sets Multiple Badge Icons 
  import statusChanger from "/assets/js/statusChanger.js";
  const mainStatus = !{JSON.stringify(status)};
  const otherStatuses = !{JSON.stringify(other_statuses)};

  document.querySelector('.badges').innerHTML += `
    <img src="/assets/img/card/${statusChanger(mainStatus, 'class')}.png" alt='bedge' >
  `
  otherStatuses.forEach(status => {
    document.querySelector('.badges').innerHTML += `
      <img src="/assets/img/card/${statusChanger(status, 'class')}.png" alt='bedge' >
    `
  })

  //- Checks If User Owns Page
  let drupalID = !{JSON.stringify(drupal_id)};
  const localStore = JSON.parse(localStorage.getItem('UserDetails'));
  const editBtn = document.getElementById('editBtn');
  if(localStore && drupalID === localStore.drupalID){
    console.log('This is logged user');
    editBtn.classList.add('edit-btn-active');
  }