doctype html
head
  meta(charset='utf-8')
  meta(content='width=device-width, initial-scale=1.0' name='viewport')
  title Legalize
  meta(content='' name='description')
  meta(content='' name='keywords')
  // Favicons
  link(href='/assets/img/kanafi.png' rel='icon')
  link(href='/assets/img/apple-touch-icon.png' rel='apple-touch-icon')
  // Google Fonts
  link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i' rel='stylesheet')
  link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.8.1/css/all.css' integrity='sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf' crossorigin='anonymous')
  // Vendor CSS Files
  link(href='/assets/vendor/aos/aos.css' rel='stylesheet')
  link(href='/assets/vendor/bootstrap/css/bootstrap.min.css' rel='stylesheet')
  link(href='/assets/vendor/bootstrap-icons/bootstrap-icons.css' rel='stylesheet')
  link(href='/assets/vendor/boxicons/css/boxicons.min.css' rel='stylesheet')
  link(href='/assets/vendor/glightbox/css/glightbox.min.css' rel='stylesheet')
  link(href='/assets/vendor/remixicon/remixicon.css' rel='stylesheet')
  link(href='/assets/vendor/swiper/swiper-bundle.min.css' rel='stylesheet')
  // Template Main CSS File
  link(href='/assets/css/style.css' rel='stylesheet')
  link(href='/assets/css/user.css' rel='stylesheet')

// ======= Header =======
include parts/header.pug
// End Header

// ======= Main =======
#userinfo-container.container.pb-4
  .user-info
    img.user-info--pic(src=`${data.img}` alt='')
    .user-info--text
      h4= `${data.name} ${data.surname}`
      span.main-status= data.status
      each val in data.other_statuses
        span= val
    
  #cards.cards(class=`card-${otherData.class}`)
    #card-front.card-side
      header.card-header &#x10D9;&#x10D0;&#x10DC;&#x10D0;&#x10E4;&#x10D8;&#x10E1; &#x10DB;&#x10DD;&#x10E7;&#x10D5;&#x10D0;&#x10E0;&#x10E3;&#x10DA;&#x10D7;&#x10D0; &#x10E1;&#x10D0;&#x10D6;&#x10DD;&#x10D2;&#x10D0;&#x10D3;&#x10DD;&#x10D4;&#x10D1;&#x10D0;
      main.card-main
        .card-info
          span &#x10E1;&#x10D0;&#x10EE;&#x10D4;&#x10DA;&#x10D8; &#x10D2;&#x10D5;&#x10D0;&#x10E0;&#x10D8;
          h4= `${data.name} ${data.surname}`
          span &#x10D3;&#x10D0;&#x10D1;&#x10D0;&#x10D3;&#x10D4;&#x10D1;&#x10D8;&#x10E1; &#x10D7;&#x10D0;&#x10E0;&#x10D8;&#x10E6;&#x10D8;
          h4= data.birth_date
        .card-info
          span &#x10DE;&#x10D8;&#x10E0;&#x10D0;&#x10D3;&#x10D8; &#x10DC;&#x10DD;&#x10DB;&#x10D4;&#x10E0;&#x10D8;
          h4= data.id_number
          span &#x10DC;&#x10DD;&#x10DB;&#x10D4;&#x10E0;&#x10D8;
          h4= data.card_number
        #card-img.card-img
          img.img-fluid(src=`${data.img}` alt='user')
      footer.card-footer
        .bedge
          .bedge-icon
            img.img-fluid(src=`/assets/img/card/${otherData.class}.png` alt='bedge')
          h6= data.status
        div
          | &#x10EB;&#x10D0;&#x10DA;&#x10D0;&#x10E8;&#x10D8;&#x10D0;: 
          span= data.validation 
    #card-back.card-side
      header.card-header CANNABIS LOVERS SOCIETY
      main.card-main
        .card-info
          span Name & Surname
          h4= `${otherData.name} ${otherData.surname}`
          span Birth Date
          h4= data.birth_date
        .card-info
          span Personal Number
          h4= data.id_number
          span Number
          h4= data.card_number
        #card-img.card-img
          .card-qrcode
            img(src=QRValue)
      footer.card-footer
        .bedge
          .bedge-icon
            img.img-fluid(src=`/assets/img/card/${otherData.class}.png` alt='bedge')
          h6= otherData.status
        div
          | VALID: 
          span= data.validation

 
// ======= Footer =======
include parts/footer.pug
// End Footer

#preloader
a.back-to-top.d-flex.align-items-center.justify-content-center(href='#')
  i.bi.bi-arrow-up-short
// Vendor JS Files
script(src='/assets/vendor/aos/aos.js')
script(src='/assets/vendor/bootstrap/js/bootstrap.bundle.min.js')
script(src='/assets/vendor/glightbox/js/glightbox.min.js')
script(src='/assets/vendor/isotope-layout/isotope.pkgd.min.js')
script(src='/assets/vendor/php-email-form/validate.js')
script(src='/assets/vendor/purecounter/purecounter.js')
script(src='/assets/vendor/swiper/swiper-bundle.min.js')
// Template Main JS File
script(src='/assets/js/main.js')