// ======= Head =======
include defaultParts/head.pug
// End Head

// Template CSS Files
link(href='/assets/css/style.css' rel='stylesheet')
link(href='/assets/css/user.css' rel='stylesheet')

// ======= Header =======
include defaultParts/header.pug
// End Header

// User Search
.user-search.container
  h5 მომხმარებლები
  input#searchInput(type='text' placeholder='ძიება....')
  ul#usersList
  br
  p#underUl= `სულ მომხმარებელთა რაოდენობა - ${usersList.length}` 
                  
// ======= Footer =======
include defaultParts/footer.pug
// End Footer

// ======= Scripts =======
include defaultParts/scripts.pug
// End Scripts

script(type="module"). 
  //- Infinite Scroll
  let users = !{JSON.stringify(usersList)}

  document.addEventListener("DOMContentLoaded", () => {
    let options = {
      root: null,
      rootMargins: "0px",
      threshold: 0.5
    };    
    const observer = new IntersectionObserver(handleIntersect, options);
    observer.observe(document.querySelector("#underUl"));
  
    //an initial load of some data
    lazyLoading(users)
  });

  let filteredUsers = [];

  function handleIntersect(entries) {
    if (entries[0].isIntersecting) {
      console.log(searchInput.value)
      if(searchInput.value !== '') {
        lazyLoading(filteredUsers);
      } else {
        lazyLoading(users);
      }
    }
  }

  searchInput.addEventListener('keyup', setFilteredData);

  function setFilteredData() {
    const value = searchInput.value;
    usersList.innerHTML = '';
    filteredUsers = users.filter(user => user.name.indexOf(value) > -1);
    lazyLoading(filteredUsers);
  }

  function lazyLoading(users) {

    let usersCounter = usersList.childElementCount;

    for(let i = usersCounter; i < usersCounter + 20; i++){
      if(users[i]){
        usersList.innerHTML += `
          <li>
            <a class="list-user" href="user/${users[i].id_number}">
              <img class="user-img" src="${users[i].img}">
              <span class="user-name">${users[i].name}</span>
            </a>
          </li>
        `
      }
    }
  }